/* 
对vant框架本身一些样式的重置，如tab中的font-size 
这些样式在.vue文件中设置并不会生效，
只能通过引入外部样式css文件的方式来改变。(it is strange!)
*/
.tabWrap .van-tab{
    font-size: .33rem;
}
.categoryGridWrap .van-icon__image{
    width: 1.46667rem;
    height: 1.46667rem;
}
.categoryGridWrap .van-grid-item__text{
    margin-top: .13333rem;
    text-align: center;
    font-size: .32rem;
    /* color: #FFF; */
    line-height: .48rem;
    white-space: nowrap;
}
.goodListWrap .van-grid-item__text{
    font-size: .37333rem;
    color: #DD1A21;
    margin-right: .16rem;
}
.goodListWrap .van-icon__image{
    width: 2.88rem;
    height: 2.88rem;
}
.goodListWrap .van-icon{
    width: 2.88rem;
    height: 2.88rem;
    background: #F5F5F5;
    border-radius: 4px;
    margin-bottom: .16rem;
}
.footerTabbar .van-tabbar-item__text{
    font-size: .32rem;
}
.footerTabbar .van-tabbar{
    height: 1.30667rem;
}
.footerTabbar .van-icon{
    width: .53333rem;
    height: .53333rem;
}
/* 分类页侧边栏 */
.sidebarWrap .van-sidebar{
    width: 2.16rem;
}
.sidebarWrap .van-sidebar-item__text{
    line-height: .66667rem;
    color: #333;
    white-space: nowrap;
    font-size: .37333rem;
    text-overflow: ellipsis;
}
.sidebarWrap .van-sidebar-item{
    position: relative;
}
.sidebarWrap .van-sidebar-item--select::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: .08rem;
    height: 2.16rem;
    background-color: #ab2b2b;
}
/* 立即购买/加入购物车 */
.goodsAction .van-goods-action{
    padding-bottom: .4rem;
}
.goodsAction .van-goods-action-button {
    font-size: .37333rem;
    height: 1.38667rem;
}
.goodsAction .van-goods-action-icon , .van-goods-action-icon__icon{
    font-size: .37333rem;
}
/* 返回上一页导航bar */
.navBarClass .van-nav-bar{
    height: 1.17333rem;
}
.navBarClass .van-nav-bar__title{
    width: 2.29333rem;
    height: .72rem;
    font-size: .5rem;
    font-family: PingFangSC-Light,helvetica,'Heiti SC';
}
.van-nav-bar .van-icon {
    color: #323535;
    margin: 0 .2rem;
}
/*sku*/
.skuClass{
    text-align: initial;
}
.skuClass .van-sku__price-symbol,
.skuClass .van-sku__price-num,
.skuClass .van-sku__stock,
.skuClass .van-sku__stock-num,
.skuClass .van-sku-header-item,
.skuClass .van-sku-row__title,
.skuClass .van-sku-row__item-name,
.skuClass .van-sku__stepper-title,
.skuClass .van-cell,
.skuClass .van-stepper__input{
    font-size: .37333rem;
}
.skuClass .van-stepper__minus,
.skuClass .van-stepper__input,
.skuClass .van-stepper__plus{
    width: .7rem;
    height: .7rem;
}

.skuClass .van-sku-actions .van-button{
    font-size: .37333rem;
}
.skuClass .van-sku-actions .van-button{
    height: .7rem;
}
/* 未选择商品属性点击了立即购买或加购时弹出的提示 */
.van-toast__text{
    font-size: .5rem;
}