/* 
对vant框架本身一些样式的重置，如tab中的font-size 
这些样式在.vue文件中设置并不会生效，
只能通过引入外部样式css文件的方式来改变。(it is strange!)
*/
.tabWrap .van-tab{
    font-size: .33rem;
}
.categoryGridWrap .van-icon__image{
    width: 1.46667rem;
    height: 1.46667rem;
}
.categoryGridWrap .van-grid-item__text{
    margin-top: .13333rem;
    text-align: center;
    font-size: .32rem;
    /* color: #FFF; */
    line-height: .48rem;
    white-space: nowrap;
}
.goodListWrap .van-grid-item__text{
    font-size: .37333rem;
    color: #DD1A21;
    margin-right: .16rem;
}
.goodListWrap .van-icon__image{
    width: 2.88rem;
    height: 2.88rem;
}
.goodListWrap .van-icon{
    width: 2.88rem;
    height: 2.88rem;
    background: #F5F5F5;
    border-radius: 4px;
    margin-bottom: .16rem;
}
